<table id="nocbeo-table-side" class="table table-striped table-hover table-bordered nocbeo-table m-b-none">
  <tbody>
  <tr ng-repeat="row in ctrl.filteredData track by $index" ng-if="row.type !== 'meta'">
    <td ng-class="{'group-row': row.type === 'group'}">
      <span ng-if="row.type === 'group'">
        <a ng-click="ctrl.selectGroup($index)" ng-bind="row.label" title="Csoport kiválasztása"></a>
      </span>
      <span ng-if="row.type === 'data'">
        <a ng-click="ctrl.selectRow($index, row)" ng-bind="row.user" title="{{ row.user }} kiválasztása"></a>
      </span>
    </td>
  </tr>
  <tr ng-if="ctrl.filteredData.length !== ctrl.data.length" class="reset-row">
    <td>
      <a ng-click="ctrl.resetData()">
        <i class="fa fa-times-circle fa-fw"></i>
        Összes megjelenítése
      </a>
    </td>
  </tr>
  </tbody>
</table>