<table id="nocbeo-table-data" class="table table-striped table-hover table-bordered nocbeo-table m-b-none">
  <tbody>
  <tr ng-repeat="row in ctrl.data  track by $index">
    <td ng-if="ctrl.isGroupRow(row)" class="group-row" colspan="{{ ctrl.dayList.length }}">
      {{ row[0] }}
    </td>

    <td ng-repeat="item in row track by $index"
        ng-class="{'weekend': ctrl.isWeekendByIndex($index), 'yesterday': ctrl.todayIndex - 1  === $index}"
        ng-bind="item"
        ng-if="!ctrl.isGroupRow(row) && $index > 0 && (ctrl.showPast || ctrl.todayIndex - 1 < $index)"></td>
  </tr>
  </tbody>
</table>